html{
    font-size: 15px;
}

body{
    background-color:white;
    color:#66615b;
    text-align: center;
    font-weight: 500;
}
p{
    font-size: 24px;
    font-weight: 500;
}
.img-fluid{
    max-width: 100%;
    height:auto;
}
.navbar ul{
    list-style-type: none;
    width: 90%;
    margin-right: 40px;
    margin-left: 40px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #cfc7bc;
    padding: 20px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
}
.navbar li a:hover{
    background-color: #66615b;
}
.navbar img{
    float: left;
}
table{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-sizing: border-box;
    justify-content: center;
}
table, th, td{
    border: 0.5px solid whitesmoke;
    text-align: left;
    border-collapse:collapse;
}
thead{
    color:#66615b;
}
tr:nth-child(even){
    background-color:#cfc7bc;
}